body {
  margin: 0;
  font-family: "Martel Sans", sans-serif;
}

label {
  font-size: x-large;
}

form {
  position: relative;
}

#main div {
  padding-top: 50px;
}

#convert-btn {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  font-size: xx-large;
  border: 5px solid #f55050;
  position: absolute;
  top: 170px;
}

#main {
  width: 798.5px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 10px 2px #d8d9da;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  #main {
    width: 399.25px;
  }
}

#view-input {
  width: fit-content;
  appearance: textfield;
  border: none;
  text-align: center;
  margin-bottom: 50px;
}

#view-input::placeholder {
  color: #fffaf4;
  opacity: 1;
}

#view-input:focus {
  outline: none;
}

#cost-p {
  padding: 0;
  margin: 0 0 10px 0;
}

.form-color {
  background-color: #f55050;
  color: #fffaf4;
}

.div-color {
  background-color: #fffaf4;
  color: #f55050;
}

.d-flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.f-size-75px {
  font-size: 75px;
}

.mb {
  margin-bottom: 10px;
}

.p-10px {
  padding: 10px;
}
